* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}

body {
    font-family: Poppins, sans-serif;
}

.navbar-lap {
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    column-gap: 10px;
}

.nav-items {
    display: flex;
}

.items {
    padding-right: 15px;
    color: rgb(75, 74, 74);
}

.items:hover {
    text-decoration: underline;
}

.menu-icon {
    padding-right: 10px;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.navbar-mob {
    background-color: #1D232C;
    color: white;
    position: fixed;
    padding: 10px;
    top: 0%;
    left: -60%;
    width: 220px;
    height: 100vh;
    transition: 2s;
    color: white;

}

.xbar {
    padding-right: 10px;
}

.nav-items2 .items a,
.nav-items2 p {
    padding: 0px;
    color: white;
    margin-bottom: 20px;
}


.main {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.content h1{
    margin-bottom: 10px;
}

.shop{
    border: none;
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;    
}

@media screen and (max-width:767px) {
    .nav-items {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}